
body {
  background-color: darkgreen;
}

#board {
  width: 440px;
  height: 440px;
  border: 1px solid white;
  background-color: black;
  position: relative;
}

#ball {
  background-color: teal;
  width: 30px;
  height: 30px;
  position: absolute;
   left: 210px;   /* Uncomment if you want to set a "starting" position */ 
   top: 150px;    /* Uncomment if you want to set a "starting" position */
   border-radius: 10px;
}
#paddleLeft{
    background-color: white;
    width: 20px;
    height: 100px;
    position: absolute;
    top: 150px;

    
}
#paddleRight{
    background-color: white;
    width: 20px;
    height: 100px;
    position: absolute;
    top: 150px;
    left: 420px;
}

#score1{
    position: absolute;
}
#score2{
    position: absolute;
}
